<div class="max-w-5xl space-y-4">
  <h1>Selling</h1>
  <div class="max-w-md">
    <app-search></app-search>
  </div>
  <div class="mt-5 m-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-5 gap-4">
    <div *ngFor="let item of searchResults">
      <div class="space-y-2 cursor-pointer">
        <div class="cursor-pointer overflow-hidden">
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
            alt>
          <div class="pt-2">
            <div class="font-semibold">
              <p class="truncate">{{ item.title }}</p>
              <p class="text-xs">{{ item.brand.name }}</p></div>
          </div>
          <div class="flex flex-row pb-2 items-center">
            <p class="text-lg font-semibold group-hover:text-black">$29.99</p>
          </div>
        </div>
        <div>
      </div>
    </div>
  </div>
</div>
