<div class="lg:max-w-5xl m-auto">
  <div class="lg:grid grid-cols-7 gap-4 lg:gap-5 mb-11">
    <div class="lg:col-span-3 cursor-pointer overflow-hidden lg:max-w-2/3 mb-4">
      <img class="w-full  duration-200"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
            alt>
    </div>
    <div class="flex flex-col lg:col-span-4 space-y-3">
      <h1 class="title">2017 Macbook Pro 16"</h1>
      <em class="text-gray-700 not-italic">Brand: Apple</em>
      <h2 class="">$29.99</h2>
      
      <div class="grid grid-cols-2 gap-2">
        <button class="button">Place Bid</button>
        <button class="outline-button">Buy</button>
      </div>
      
      <div class="flex bg-blue-50 py-2 px-4 w-full items-center space-x-4">
        <b class="font-bold text-2xl">5d 15h left</b>
        <p class="">Top Bid is $22.50</p>
        <a class="font-semibold underline">View all bids</a>
      </div>
      
      <h4 class="">Item Description</h4>
      <p>asdfasdfasdf</p>
    </div>
  </div>
</div>
